.login-box-r-pso{
    width: 230px;
    /* height: 380px; */
    padding: 8px;
    background-color: #f5f5f5;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 1px rgba(0,0, 0, 0.2);
    margin: 30px 50px;
    text-align: center;
 }