.observe{
    margin-left: 400px;
}
.md{
    margin-left: 20px;
    margin-right: 180px;
}
.blue{
    color: #3473C8;
}
.hidden {
    display: none;
}
.login-box-r-o{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 1px rgba(0,0, 0, 0.2);
}

